<div class="App gallery-page">
  <div class="home-row">
    <button type="button" class="white-home" (click)="goHome()" aria-label="Home">
      <ng-icon name="faSolidHouse" size="32"></ng-icon>
    </button>
  </div>

  <div class="masonry">
    @for (photo of photos; track photo.src; let i = $index) {
      <button
        type="button"
        class="tile"
        (click)="open(i)"
        [style.aspect-ratio]="photo.width + ' / ' + photo.height"
      >
        <img [src]="photo.src" [alt]="'Gallery image ' + (i + 1)" loading="lazy" />
      </button>
    }
  </div>
</div>
