<div class="stack-container">
  <div class="home-row">
    <button type="button" class="white-home" (click)="goHome()" aria-label="Home">
      <ng-icon name="faSolidHouse" size="32"></ng-icon>
    </button>
  </div>

  <h1 class="aboutText">
    <span class="loud">About Me</span>
  </h1>

  <div class="center-on-screen">
    <div class="info-grid">
      <div class="info-text">
        <h1 class="aboutText">
          I am a <span class="loud">full stack web developer</span> with a passion for
          learning and problem solving.
        </h1>
      </div>
      <div class="info-text">
        <h1 class="aboutText">
          I have a background in software engineering and
          <span class="loud">enjoy programming</span>.
        </h1>
      </div>
    </div>
  </div>

  <h1 class="aboutTextSmall">
    <span class="loud">Skills</span><br />
    <span class="notice-me">(Icons Clickable)</span>
  </h1>

  <div class="center-on-screen">
    <div class="info-grid">
      <div class="info-text">
        <h1 class="info-text">
          Python - Java - Linux - Kali - Cyber Security - Windows - C - SQL - Git - Django - Adobe - and more
          <br />
          <span class="icon" (click)="openUrl('https://www.python.org/')" title="Python">
            <ng-icon name="faBrandPython" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.java.com/en/')" title="Java">
            <ng-icon name="faBrandJava" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.linux.org/')" title="Linux">
            <ng-icon name="faBrandLinux" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://tryhackme.com/p/mattgoo')" title="Try Hack Me">
            <ng-icon name="simpleTryhackme" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.kali.org/')" title="Kali">
            <ng-icon name="simpleKalilinux" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.microsoft.com/en-us/windows/')" title="Windows">
            <ng-icon name="faBrandWindows" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.mysql.com/')" title="MySQL">
            <ng-icon name="simpleMysql" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://github.com/mattgoo')" title="GitHub">
            <ng-icon name="faBrandGithub" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.djangoproject.com/')" title="Django">
            <ng-icon name="simpleDjango" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.adobe.com/')" title="Adobe">
            <ng-icon name="simpleAdobe" size="70"></ng-icon>
          </span>
        </h1>
      </div>
      <div class="info-text">
        <h2 class="info-text">
          I am currently learning React, Node, and React Native.
          <br />
          <span class="icon" (click)="openUrl('https://reactjs.org/')" title="React">
            <ng-icon name="faBrandReact" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://www.javascript.com/')" title="JavaScript">
            <ng-icon name="simpleJavascript" size="70"></ng-icon>
          </span>
          <span class="icon" (click)="openUrl('https://nodejs.org/en/')" title="Node">
            <ng-icon name="faBrandNodeJs" size="70"></ng-icon>
          </span>
        </h2>
      </div>
    </div>
  </div>

  <div class="center-on-screen">
    <div class="link-text" (click)="openUrl('https://tryhackme.com/p/mattgoo')">
      <h1 class="link-text">Try Hack Me Profile</h1>
    </div>
  </div>
</div>
