<div class="App">
  <div class="home-stack">
    <div class="grid-container">
      <a
        class="grid-inner tile-about"
        routerLink="/about"
      >
        <h1 class="big-Text">About</h1>
      </a>
      <a
        class="grid-inner tile-gallery"
        routerLink="/gallery"
      >
        <h1 class="big-Text">Gallery</h1>
      </a>
      <a
        class="grid-inner tile-projects"
        routerLink="/projects"
      >
        <h1 class="big-Text">Projects</h1>
      </a>
    </div>
    <div class="centered">
      <h1>
        Hi, my name is Matt Goodwin and I am currently
        <span class="loud">{{ age() }}</span>
        years old.
      </h1>
    </div>
  </div>
</div>
