.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

.App-Basic {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 1;
}
 

.grid-container {
  display: flex;
  height: 100vh;
}

.grid-inner {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  align-items: flex-end;
  justify-content: flex-end;
}



.grid-inner:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.grid-inner:hover > h1 {
  scale: 1.1;
  color: #61dafb;
}

.big-Text {
  font-size: calc(10px + 4vmin);
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
  margin: 10px;
}

.big-Text:hover {
  color: #61dafb;
  scale: 1.1;
}

.small-Text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.centered {
  text-align: center;
}

.centered > h1 {
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
}





